.currentRates {
    flex-direction: column;
    border-radius: 15px;
    width: 500px;
}

.tableHead, .currentRates{
    display: flex;
}

.tableHead{
    justify-content: space-between;
}

.tableHead, .currencyList{
    padding: 10px;
}

.tableHead{
    background-color: lightslategray;
    border-radius: 5px;
}

.tableHead p{
    color: white;
    margin: 5px 0;
}

h3 {
    color: #f66904;
}