.calc {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Kanit', sans-serif;
}

.calc .switch{
    align-self: end;
}

i, select{
    cursor: pointer;
}

i{
    font-size: 30px;
}

select, input{
    outline: none;
    border: none;
    background: none;
    font-weight: bold;
}

input{
    border-bottom: 1px silver solid;
    padding: 10px;
    font-size: 17px;
}
