.currency{
  padding: 0 24px 24px;
  border-radius: 2px;
  background-color: white;
  flex: 1 1 60%;
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 4px 0px, rgb(0 0 0 / 12%) 0px 0px 4px 0px;

  @media (max-width: 500px) {
    flex: 1 1 100%;
    padding: 20px 10px;
  }
}

.nav-bar{
  ul{
    display: flex;
    column-gap: 24px;

    @media (max-width: 500px) {
      justify-content: space-between;
    }
  }
  li{
    padding: 24px 0 21px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    cursor: pointer;
    &:hover{
      border-bottom: 3px solid silver;
    }
  }
  .active{
    border-bottom: 3px solid rgb(141, 198, 65);
    color: rgba(0, 0, 0, 0.87);
    &:hover{
      border-bottom: 3px solid rgb(141, 198, 65);
    }
  }
}

.tb-header{
  display: flex;
  justify-content: space-between;
}

.currency-list{
  .tb-header{
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #F5F5F5;
    color: rgba(0, 0, 0, 0.54);
    font-weight: bold;
    padding: 8px;

    p:first-child{
      padding-left: 40px;
      width: 120px;
      
      @media (max-width: 500px) {
        width: 150px;
      }
    }
    p:last-child{
      padding-right: 40px;
      
      @media (max-width: 500px) {
        padding: 0;
      }
    }
  }
}