.currency{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.currency i{
    padding: 5px;
}

.currency p:first-child{
    color: darkblue;
}

.currency p{
    margin: 8px 0;
}
